<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>


    

    <div class="jumbotron vh-90" >
      <div class="container ">
        <img class=" img-fluid img-thumbnail float-left mr-5" src="/img/fry.png" alt="profile card">
      </div>    
      <div class="container">
         <h1 class="text-center">NMT</h1>
          <p class="text-center">Full stack developer</p>
          <div class="container w-60">
          <ul class="list-group text-center">
            <li class="list-group-item ">Javascript</li>
            <li class="list-group-item ">HTML5 | CSS3 </li>
            <li class="list-group-item">Node.js | React.js</li>
            <li class="list-group-item">Python | Pandas | Flask</li>
          </ul>
        </div>  
      </div>
      <div class="container d-flex justify-content-around pt-5">
      <a href="https://www.linkedin.com/in/ntosi/" class="btn btn-outline-dark animated shake">Linkedin <i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/ntosi" class="btn btn-outline-dark animated shake">Github <i class="fab fa-github"></i></a>
    </div>
      </div>
    
           
                
               
          
       
    <% include partials/footer %>
  </body>
</html>
